@import "tailwindcss";

.font-baloo {
  font-family: 'Baloo', cursive;
}
.font-lobster {
  font-family: 'Lobster', cursive;
}

.font-gravitas-one {
  font-family: 'Gravitas One', serif;
}

.font-kristi {
  font-family: 'Kristi', cursive;
}

.font-dancing-script {
  font-family: 'Dancing Script', cursive;
}

.font-pacifico {
  font-family: 'Pacifico', cursive;
}

.font-allura {
  font-family: 'Allura', cursive;
}

.font-aleo {
  font-family: 'Aleo', serif;
}

.font-sacramento {
  font-family: 'Sacramento', cursive;
}

.font-satisfy {
  font-family: 'Satisfy', cursive;
}

/* Brush Script MT - system font */
.font-brush-script-mt {
  font-family: 'Brush Script MT', cursive;
}


@theme {
  --color-website-color-black: #212a31;
  --color-website-color-darkGray: #2e3944;
  --color-website-color-lightGray: #d3d9d4;
  --color-website-color-green: #124e66;
  --color-website-color-lightGreen: #748d92;
}
